#root, html, body {
    height: 100vh !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}